body{
    background:#15DEAD;

    display:flex;
    justify-content:center;
    overflow:hidden;
    
}
.sesion1{
    position:absolute;
    background:#ECF0F1;
    top:200px;
    width:600px;
    height:250px;
    border-radius:15px;
    box-sizing:border-box;
    padding:15px 25px;
    animation-name:izquierda;
    animation-duration:3s;
    animation-iteration-count:1;
    
}
.watch{
    background:#117864;
    position:absolute;
    width:92%;
    height:88%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:65px;
    border-radius:15px;
    font-family: 'Iceberg', cursive;
    color:#fff;
    text-shadow:0 0 5px #58D68D,
    0 0 15px #58D68D,
    0 0 30px #58D68D,
    0 0 60px #58D68D;
    animation-name:derecha;
    animation-duration:4s;
    animation-iteration-count:1;
    
}
.top{
    color:#BA4A00;
    background:#BA4A00;
    position:absolute;
    margin-top:-34px;
    width:92%;
    border-radius:10px 10px 0px 0px;
    animation-name:up;
    animation-duration:2s;
    animation-iteration-count:1;
    
}
.feet1, .feet2{
    background:#0B5345;
    color:#0B5345;
    position:absolute;
    margin-top:235px;
    width:15%;
    height:10%;
    border-radius:0px 0px 20px 20px;
    margin-left:50px;
    animation-name:feet;
    animation-duration:5s;
    animation-iteration-count:1;
}
.feet2{
    margin-left:405px;
}

@keyframes up{

    0%{
        transform:translatey(-500px);
    }
}
@keyframes izquierda{

    0%{
        transform:translatex(-1100px);
    }
}
@keyframes derecha{

    0%{
        transform:translatex(2100px);
    }
}

@keyframes feet{

    0%{
        transform:translatey(900px);
    }
}

